<script setup lang="ts">
import { useAuthStore } from '@/stores/auth';

const authStore = useAuthStore();
const user = localStorage.getItem("user");
const json = JSON.parse(user!)
const httpImg = (import.meta.env.VITE_BACKEND_URL)
</script>
<template>
  <v-app-bar color="#1A0D00" style="padding-left: 25px;">

    <v-avatar color="white"
      image="https://media.discordapp.net/attachments/896296119095660576/1087371499037540522/DCLogo.png"
      size="50"></v-avatar>
    <v-list-item>
      <v-list-item-title class="title-color">D-Coffee</v-list-item-title>
      <v-list-item-subtitle class="subtitle-color">The best cafe in bangsaen</v-list-item-subtitle>
    </v-list-item>


    <template v-slot:append>
      <v-menu :close-on-back="false">

        <template v-slot:activator="{ props }">
          <v-card v-bind="props" rounded="pill" color="#DFD3C3">
            <v-row>
              <v-col>
                <v-card-title class="role-font">
                  {{ json.role }} |
                </v-card-title>
              </v-col>
              <v-col >
                <v-avatar size="50px" rounded="2">
                  <v-img :src="`${httpImg}/users/image/${json.image}`"></v-img>
                </v-avatar>
              </v-col>
            </v-row>
          </v-card>
        </template>


        <v-card min-width="250">
          <v-list>
            <v-list-item :prepend-avatar="`${httpImg}/users/image/${json.image}`">
              <v-list-item-title>{{ json.name }}</v-list-item-title>
              <v-list-item-subtitle>{{ json.email }}</v-list-item-subtitle>
            </v-list-item>
          </v-list>

          <v-divider></v-divider>

          <v-list>
            <v-list-item prepend-icon="mdi-account-edit" title="Edit account" value="editUser" to="/edUser"
              v-ripple></v-list-item>
            <v-list-item prepend-icon="mdi-account-clock" title="Check in/out" value="employee schedule"
              to="/schedule"></v-list-item>
            <v-list-item prepend-icon="mdi-exit-to-app" title="Logout" value="logout" @click="authStore.logout"
              to="/login"></v-list-item>
          </v-list>

        </v-card>
      </v-menu>
    </template>
  </v-app-bar>
</template>

<style scoped>
.title-color {
  color: white;
  font-family: "Shrikhand";
  font-weight: bold;
  font-size: 30px;

}

.subtitle-color {
  color: white;
  font-family: Garamond;
  font-weight: bold;
  font-size: 12px;
}

.role-font {
  font-family: Garamond;
  font-weight: bold;
  font-size: 24px;
}
</style>