<script setup lang="ts">
import { Bar } from 'vue-chartjs'
import {
  Chart as ChartJS,
  Title,
  Tooltip,
  Legend,
  BarElement,
  CategoryScale,
  LinearScale
} from 'chart.js'
import { ref } from 'vue';
ChartJS.register(CategoryScale, LinearScale, BarElement, Title, Tooltip, Legend)
const data = ref({
  labels: [
    'Monday',
    'Tuesday',
    'Wednesday',
    'Thuesday',
    'Friday',
    'Saturday',
    'Friday',
  ],
  datasets: [
    {
      label: 'Monthly sales',
      backgroundColor: '#C14545',
      data: [40, 39, 80, 40, 20, 12, 11] // Data
    }
  ]
})

const options = ref({
  responsive: true,
  maintainAspectRatio: false
})

</script>
<template>
  <v-card width="433px" height="280px">
    <Bar :data="data" :options="options"></Bar>
  </v-card>
</template>