<script setup lang="ts">
import { Chart as ChartJS, ArcElement, Tooltip, Legend } from 'chart.js'
import { Doughnut } from 'vue-chartjs'
import { ref } from 'vue';

ChartJS.register(ArcElement, Tooltip, Legend)

const data = ref({
  labels: ['January',
    'February',
    'March',
    'April',
    'May',
    'June',
    'July',
    'August',
    'September',
    'October',
    'November',
    'December'],
  datasets: [
    {
      backgroundColor: ['#FFCDD2', '#FF4081', '#C51162', '#673AB7', '#3F51B5', '#C5CAE9', '#00695C', '#9CCC65', '#FFEE58', '#FF6F00', '#DD2C00', '#4E342E'],
      data: [40, 20, 12, 39, 10, 40, 39, 80, 40, 20, 12, 11]
    }
  ]
})

const options = ref({
  responsive: true,
  maintainAspectRatio: false
})

</script>

<template>
  <v-card width="434px" height="305px">
    <Doughnut :data="data" :options="options" />
  </v-card>
</template>