<script setup lang="ts">
import { Bar } from 'vue-chartjs'
import {
  Chart as ChartJS,
  Title,
  Tooltip,
  Legend,
  BarElement,
  CategoryScale,
  LinearScale
} from 'chart.js'
import { ref } from 'vue';
ChartJS.register(CategoryScale, LinearScale, BarElement, Title, Tooltip, Legend)
const data = ref({
  labels: [
    '09:00',
    '10:00',
    '11:00',
    '12:00',
    '13:00',
    '14:00',
    '15:00',
    '16:00',
    '17:00',
    '18:00',

  ],
  datasets: [
    {
      label: 'Daily sales',
      backgroundColor: '#FFCF68',
      data: [40, 20, 12, 39, 10, 40, 39, 10, 25, 32] // Data
    }
  ]
})

const options = ref({
  responsive: true,
  maintainAspectRatio: false
})

</script>
<template>
  <v-card width="433px" height="280px">
    <Bar :data="data" :options="options"></Bar>
  </v-card>
</template>