<script lang="ts" setup>
import { useCustomerStore } from '@/stores/Customer';
import { ref } from 'vue';
import type { VForm } from "vuetify/components";
const CustomerStore = useCustomerStore();
const form = ref<VForm | null>(null);

async function save() {
  const { valid } = await form.value!.validate();
  if (valid) {
    await CustomerStore.saveCustomer();
  }
}
</script>

<template>
  <v-dialog v-model="CustomerStore.dialog" persistent width="1024">
    <v-card class="text-font2">
      <v-card-title>
        <span class="text-h5">Customer</span>
      </v-card-title>
      <v-card-text>
        <v-form ref="form">
          <v-container>
            <v-row>
              <v-col cols="12">
                <v-text-field label="Name*" required v-model="CustomerStore.editedCustomer.name" :rules="[
                  (v) => !!v || 'Name is required',
                  (v) => v.length >= 3 || 'Name must be more than or equal 3 characters and a maximum of 128 characters.',
                ]"></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field label="Tel.*" required v-model="CustomerStore.editedCustomer.tel" :rules="[
                  (v) => !!v || 'Tel is required',
                  (v) =>
                    !!v ||
                    'Tel must be more than or equal 20 characters',
                ]"></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field label="Point*" required v-model.number="CustomerStore.editedCustomer.point"></v-text-field>
              </v-col>
            </v-row>
          </v-container>
        </v-form>
        <small>*indicates required field</small>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="blue-darken-1" variant="text" @click="CustomerStore.dialog = false">
          Close
        </v-btn>
        <v-btn color="blue-darken-1" variant="text" @click="save">
          Save
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<style>
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@500&display=swap');

.text-font2 {
  font-family: 'Noto Sans Thai', sans-serif;
}
</style>