<script lang="ts" setup >
import { useMaterialStore } from '@/stores/Material';
import { ref } from 'vue';
import type { VForm } from 'vuetify/components';


const form = ref<VForm | null>(null);
const MaterialStore = useMaterialStore();
async function save() {
  const { valid } = await form.value!.validate();
  if (valid) {
    await MaterialStore.saveMaterial();
  }
}

</script>
<template>
  <v-dialog v-model="MaterialStore.dialog" persistent width="1024">

    <v-card class="text-font2">
      <v-card-title>
        <span class="text-h5">Add New Material</span>
      </v-card-title>
      <v-card-text>
        <v-form ref="form">
          <v-container>
            <v-row>
              <v-col cols="12">
                <v-text-field label="Material Name*" required v-model="MaterialStore.editedMaterial.name" :rules="[
                  (v) => !!v || 'Item is required',
                  (v) => v.length >= 3 || 'Length musr more than 3',
                ]"></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field label="Min Quanlity" required v-model.number="MaterialStore.editedMaterial.min_quantity"
                  :rules="[(v) => !!v || 'Item is required']"></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field label="Quantity*" required v-model.number="MaterialStore.editedMaterial.quantity"
                  :rules="[(v) => !!v || 'Item is required']"></v-text-field>

              </v-col>
              <v-col cols="12">
                <v-text-field label="Unit" required v-model="MaterialStore.editedMaterial.unit"
                  :rules="[(v) => !!v || 'Item is required']"></v-text-field>
              </v-col>
              <v-col cols="12">

                <v-text-field label="Price Per Unit" required v-model.number="MaterialStore.editedMaterial.price_per_unit"
                  :rules="[(v) => !!v || 'Item is required']"></v-text-field>
              </v-col>
            </v-row>
          </v-container>
        </v-form>
        <small>*indicates required field</small>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="blue-darken-1" variant="text" @click="MaterialStore.dialog = false">
          Close
        </v-btn>
        <v-btn color="blue-darken-1" variant="text" @click="save">
          Save
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<style scoped>
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@500&display=swap');

.text-font2{
  font-family: 'Noto Sans Thai', sans-serif;
}
</style>