<script lang="ts" setup>
import { useOrderStore } from '@/stores/Order';
import { onMounted } from 'vue';
onMounted(async () => {
  await OrderStore.getOrders()
})

const OrderStore = useOrderStore();
</script>
<template>
  <v-container>
    <v-dialog v-model="OrderStore.dialogBill" transition="dialog-bottom-transition" class="over">
      <v-card height="70vh" width="45vh">

        <v-row width="100%" style="padding-top: 10px; padding-left: 50px; padding-right: 27px;" class="subtitle-color">
          <v-col>id</v-col>
          <v-col cols="4">Date</v-col>
        </v-row>
        <v-row>

          <v-row width="100%" style="padding-top: 10px; padding-left: 50px; padding-right: 27px;" class="subtitle-color">

            <v-col>

              <v-row>
                <v-col>Amount</v-col>
                <v-col>Name</v-col>
                <v-col>Price</v-col>
              </v-row>
              <v-row v-for="item of OrderStore.Bill" :key="item.productId">
                <v-col> {{ item.amount }}</v-col>
                <v-col> {{ item.product?.name }}</v-col>
                <v-col> {{ item.price }}</v-col>
              </v-row>



            </v-col>

          </v-row>

          <v-row width="100%" style="padding-top: 10px; padding-left: 50px; padding-right: 27px;" class="subtitle-color">

            <v-col class="pl-5" cols="8">

              <v-row>Total</v-row>
              <v-row>Tex</v-row>
              <v-row>Recived</v-row>
              <v-row>Change</v-row>
            </v-col>
            <v-col>
              <v-row>{{ OrderStore.total.toFixed(2) }}</v-row>
              <v-row>{{ (OrderStore.total * (7 / 100)).toFixed(2) }}</v-row>
              <v-row>{{ OrderStore.recevied.toFixed(2) }}</v-row>
              <v-row>{{ (OrderStore.recevied - OrderStore.total).toFixed(2) }}</v-row>
            </v-col>
            <v-col>



            </v-col>
          </v-row>
        </v-row>

        <v-row width="100%" style="padding-top: 10px; padding-left: 50px; padding-right: 27px;" class="subtitle-color">

          <v-list-item>
            <v-list-item-title>Thank You</v-list-item-title>
            <v-list-item-title>Have A Nice Day</v-list-item-title>
          </v-list-item>
        </v-row>
      </v-card>
    </v-dialog>
  </v-container>
</template>
<style>
.subtitle-color {
  color: black;
  font-family: monospace;
  font-weight: lighter;
  font-size: 16px;
}
</style>