<script setup lang="ts">
import ConfirmDialog from "@/components/ConfirmDialog.vue";
import { useCustomerStore } from "@/stores/Customer";
import { useOrderStore } from "@/stores/Order";
import { useUserStore } from "@/stores/User";
import { onMounted, ref } from "vue";
import type { VForm } from "vuetify/components";
import LoadingDialog from "./LoadingDialog.vue";
import MessageDialog from "./MessageDialog.vue";
const OrderStore = useOrderStore();
const CustomerStore = useCustomerStore();
const form = ref<InstanceType<typeof VForm> | null>(null);
const reset = () => {
  form.value?.reset();
};
onMounted(() => {
  CustomerStore.GetCustomers()
})
</script>
<template>
  <v-dialog v-model="OrderStore.dialog" transition="dialog-bottom-transition" width="60vh" scrollStrategy="close">
    <v-card class="text-font2">
      <v-toolbar color="brown-darken-4" title="Payment"></v-toolbar>
      <v-container>
        <v-row>
          <v-radio-group column>
            <v-col>
              <v-radio label="ไม่เป็นสมาชิก" value="ไม่เป็นสมาชิก" v-model="OrderStore.member"
                @click="OrderStore.model = false, OrderStore.member = 'ไม่เป็นสมาชิก'" color="success"></v-radio>
              <v-radio label="เป็นสมาชิก" @click="OrderStore.model = true, OrderStore.member = ''"
                color="success"></v-radio>
            </v-col>
            <v-col>
              <v-autocomplete clearable :disabled="!OrderStore.model" variant="outlined" :items="CustomerStore.Customers"
                item-title="tel" item-value="tel" v-model="OrderStore.member" label="Member" placeholder="Select..."
                required :rules="[v => !!v || 'Member is required']" class="form-input"></v-autocomplete>
            </v-col>
          </v-radio-group>
        </v-row>
        <v-row>
          <v-col cols="12 ">
            <v-form ref="form">
              <v-text-field label="Received" v-model.number="OrderStore.recevied" variant="outlined">
              </v-text-field>
            </v-form>
          </v-col>
        </v-row>
      </v-container>
      <LoadingDialog></LoadingDialog>
      <MessageDialog></MessageDialog>

      <v-card-actions class="justify-end">
        <v-btn variant="text" @Click="OrderStore.dialog = false, reset">Close</v-btn>
        <v-btn @Click="OrderStore.submitOrder(OrderStore.member)">Done</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<style>
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@500&display=swap');

.text-font2 {
  font-family: 'Noto Sans Thai', sans-serif;
}
</style>
