<script setup lang="ts">
import { useStoreStore } from '@/stores/store';
import { ref } from 'vue';
import type { VForm } from 'vuetify/components';

const form = ref<VForm | null>(null);
async function save() {

  const { valid } = await form.value!.validate();
  if (valid) {
    await useStore.saveStore();
  }
}

const useStore = useStoreStore()
</script>

<template>
  <v-layout>
    <v-dialog v-model="useStore.dialog" width="500">
      <v-card class="text-font2">
        <v-card-title>
          <span class="text-h5">Store</span>
        </v-card-title>
        <v-card-text>
          <v-form ref="form">
            <v-container>
              <v-row>
                <v-col cols="12">
                  <v-text-field label="Name*" :rules="[
                    (v) => !!v || 'Name is required.',
                    (v) =>
                      v.length >= 3 ||
                      'The name must be greater than or equal to 3 characters and a maximum of 128 characters.',
                  ]" required v-model="useStore.editedStore.name"></v-text-field>
                </v-col>
                <v-col cols="12">
                  <v-text-field label="Tel*" :rules="[
                    (v) => !!v || 'Tel is required.',
                    (v) =>
                      v.length == 10 ||
                      'Tel must be equal 10 characters.',
                  ]" required v-model="useStore.editedStore.tel"></v-text-field>
                </v-col>
                <v-col cols="12">
                  <v-text-field label="Address*" :rules="[
                    (v) => !!v || 'Address is required.',
                    (v) =>
                      v.length >= 3 ||
                      'The name must be greater than or equal to 3 characters and a maximum of 128 characters.',
                  ]" required v-model="useStore.editedStore.address"></v-text-field>
                </v-col>
              </v-row>
            </v-container>
          </v-form>
          <small>*indicates required field</small>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue-darken-1" variant="text" @click="useStore.dialog = false">
            Close
          </v-btn>
          <v-btn color="blue-darken-1" variant="text" @click="save">
            Save
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-layout>
</template>

<style>
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@500&display=swap');

.text-font2{
  font-family: 'Noto Sans Thai', sans-serif;
}
</style>