<script setup lang="ts">
import LoadingDialogVue from './Dialog/LoadingDialog.vue';


</script>

<template>
  <v-layout>
    <v-container>
      <v-card height="100%" class="text-center">
        <v-img
          src="https://images.pexels.com/photos/5912618/pexels-photo-5912618.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          height="500" class="mb-2">
        </v-img>
        <v-divider></v-divider>
        <v-card-title>
          You must be manager to acess this page
        </v-card-title>
        <v-btn color="brown" variant="text" prepend-icon="mdi-home" append-icon="mdi-home" @click="$router.push('/')">
          click here to go home
        </v-btn>
      </v-card>
    </v-container>
  </v-layout>
</template>
