<script lang="ts" setup>
import MessageDialog from '@/components/MessageDialog.vue';
import { useCheckmaterialStore } from '@/stores/checkmaterial';
import { onMounted, ref } from 'vue';
import CheckMaterialDialog from './Dialog/CheckMaterialDialog.vue';
import LoadingDialog from './Dialog/LoadingDialog.vue';
import ConfirmDialog from '@/components/ConfirmDialog.vue';

const checkMatStore = useCheckmaterialStore();
const confirmDlg = ref();

onMounted(async () => {
  await checkMatStore.getCheckM();
})
const deleteCheckMat = async (id: number) => {
  try {
    await confirmDlg.value.openDialog("Please Confirm", `คุณต้องการลบ ID ที่ ${id} หรือไม่`);
    await checkMatStore.deleteCheckMat(id)
  } catch (e) { /* empty */ }
}
</script>
<template>
  <LoadingDialog></LoadingDialog>
  <MessageDialog></MessageDialog>
  <CheckMaterialDialog></CheckMaterialDialog>
  <v-row style="padding-top: 20px; padding-left: 40px; padding-right: 27px; ">
    <v-card width="100%" height="140" color="#EDE9D5" class="rounded-t-xl">
      <v-row style="padding-top: 25px; padding-right: 40px; padding-left: 40px;" class="pt-7">
        <v-icon icon="mdi-clipboard-check-multiple-outline" size="40px" color="#472D2D"
          style="padding-top: 5px;"></v-icon>
        <h1 style="color: #472D2D; font-size: 32px; padding-left: 15px;" class="text-font">เช็คคลังวัตถุดิบ</h1>

        <v-divider :thickness="2"></v-divider>
      </v-row>
      <v-row cols="12" class="justify-end">
        <v-col cols="3"></v-col>
        <v-col cols="4" style="padding-left: 150px;"><v-text-field label="กรอก ID เพื่อค้นหา"
            prepend-inner-icon="mdi-magnify" v-model="checkMatStore.search" class="text-color mt-0 text-font2"
            bg-color="#C3B091" color="black"></v-text-field></v-col>
        <v-col cols="2">
          <v-btn width="180px" color="indigo-darken-3" @click="checkMatStore.dialog = true">
            <v-icon icon="mdi-plus" class="mr-1 text-font2"></v-icon>
            Check Material
          </v-btn>
        </v-col>
      </v-row>
    </v-card>

  </v-row>

  <v-row style="padding-top: 10px; padding-left: 40px; padding-right: 30px;">
    <v-card width="100%" color="#dedad7" rounded="xl" height="68vh"
      style="overflow: auto; padding-left: 10px; padding-top: 10px; padding-right: 10px; padding-bottom: 10px;">
      <v-table style="border-radius: 15px;" class="overflow-y-auto text-font2" height="65vh">
        <thead>
          <tr>
            <th>ID</th>
            <th>Date</th>
            <th>Time</th>
            <th>Employee</th>
            <th>Operations</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="item of checkMatStore.showCheckMaterial" :key="item.id">
            <td>{{ item.id }}</td>
            <td>{{ item.date }}</td>
            <td>{{ item.time }}</td>
            <td>{{ item.employee?.name }}</td>
            <td>
              <v-btn variant="text" color="error" @click="deleteCheckMat(item.id!)"><v-icon
                  icon="mdi-delete"></v-icon></v-btn>
            </td>
          </tr>
        </tbody>
      </v-table>
    </v-card>
  </v-row>
  <ConfirmDialog ref="confirmDlg"></ConfirmDialog>
</template>
<style>
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@500&display=swap');

.edit-card1 {
  border-radius: 15px 15px 15px 15px
}

.text-color {
  color: white !important;
}

.text-font {
  font-family: 'Noto Sans Thai', sans-serif;
}

.text-font2 {
  font-family: 'Noto Sans Thai', sans-serif;
}
</style>