<script lang="ts" setup>
import MessageDialog from '@/components/MessageDialog.vue';
import { useCustomerStore } from '@/stores/Customer';
import { useUploadImgStore } from '@/stores/UploadImg';
import { onMounted, ref } from 'vue';
import CustomerDialog from './Dialog/CustomerDialog.vue';
import LoadingDialog from './Dialog/LoadingDialog.vue';
import ConfirmDialog from '@/components/ConfirmDialog.vue';

import UploadImgDialog from './Dialog/UploadImgDialog.vue';
const httpImg = (import.meta.env.VITE_BACKEND_URL)
const CustomerStore = useCustomerStore();
const Upload = useUploadImgStore()
const confirmDlg = ref();
onMounted(async () => {
  await CustomerStore.GetCustomers();
});
const deleteCustomer = async (id: number) => {
  try {
    await confirmDlg.value.openDialog("Please Confirm", `คุณต้องการลบ Customer หรือไม่`);
    await CustomerStore.deleteCustomer(id)
  } catch (e) { /* empty */ }
}
</script>
<template>
  <LoadingDialog></LoadingDialog>
  <MessageDialog />
  <CustomerDialog></CustomerDialog>
  <!-- <UploadImgDialog></UploadImgDialog> -->
  <v-row style="padding-left: 25px; padding-right: 25px;padding-top: 25px;">
    <v-card height="140" width="100%" class="rounded-t-xl" color="#120a04">
      <v-row style="padding-top: 25px; padding-right: 40px; padding-left: 40px;">
        <v-icon icon="mdi-account-supervisor-circle" size="40px" color="white" style="padding-top: 5px;"></v-icon>
        <h1 style="color: white; font-size: 32px; padding-left: 5px;" class="text-font">จัดการสมาชิก</h1>
        <v-divider class="border-opacity-100" style="color: white;"></v-divider>
      </v-row>
      <v-row class="12 justify-end">
        <v-col cols="7"></v-col>
        <v-col cols="4">
          <v-text-field label="กรอกเบอร์โทรเพื่อค้นหา" prepend-inner-icon="mdi-magnify" v-model="CustomerStore.search"
            class="text-color text-font2"></v-text-field>
        </v-col>
        <v-col>
          <v-btn color="brown" rounded="lg" @click.stop="CustomerStore.dialog = !CustomerStore.dialog">
            <v-icon icon="mdi-plus-circle" class="mr-1"></v-icon>
            <v-icon icon="mdi-account-supervisor-circle"></v-icon>
          </v-btn>
        </v-col>
      </v-row>
    </v-card>
  </v-row>


  <v-row width="100%" style="padding-top: 10px; padding-left: 27px; padding-right: 27px;">
    <v-card height="68vh" width="100%" color="#dedad7" rounded="lg"
      style="padding-top: 10px; padding-left: 10px; padding-right: 10px;" class="text-font2">
      <v-table style="border-radius: 15px;" height="65vh" class="overflow-y-auto">
        <thead>
          <tr>
            <th>Name</th>
            <th>Tel</th>
            <th>Point</th>
            <th>Start date</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="item of CustomerStore.showCustomer" :key="item.id">
            <td v-if="item.name != 'ไม่เป็นสมาชิก'" >{{ item.name }}</td>
            <td v-if="item.name != 'ไม่เป็นสมาชิก'" >{{ item.tel }}</td>
            <td v-if="item.name != 'ไม่เป็นสมาชิก'" >{{ item.point }}</td>
            <td v-if="item.name != 'ไม่เป็นสมาชิก'">{{ item.startDate }}</td>
            <td v-if="item.name != 'ไม่เป็นสมาชิก'">
              <v-btn color="#01579B" class="mr-5" variant="tonal" @click="CustomerStore.editCustomer(item)"
                prepend-icon="mdi-pencil">Edit</v-btn>
              <v-btn color="#C62828" variant="tonal" @click="deleteCustomer(item.id!)"
                prepend-icon="mdi-delete">Delete</v-btn>
            </td>
          </tr>
        </tbody>
      </v-table>
    </v-card>
  </v-row>

  <ConfirmDialog ref="confirmDlg"></ConfirmDialog>
</template>

<style scoped>
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@500&display=swap');

.text-color {
  color: white !important;
}

.text-font {
  font-family: 'Noto Sans Thai', sans-serif;
}

.text-font2 {
  font-family: 'Noto Sans Thai', sans-serif;
}

/* .layout {
  text-align: center;
  text-justify: center;
  width: 100vw;
  height: 100vh;
  background-color: #fff1d7;
}
.edit-card1{
  border-radius: 15px 15px 15px 15px

}
.text-h4{
  color: black;
  font-size: 40px;
} */
</style>