<script setup lang="ts">
import MessageDialog from '@/components/MessageDialog.vue';
import { useEmployeeStore } from '@/stores/Employee';
import { onMounted, ref } from 'vue';
import EmployeeDialog from './Dialog/EmployeeDialog.vue';
import LoadingDialog from './Dialog/LoadingDialog.vue';
import ConfirmDialog from '@/components/ConfirmDialog.vue';

const employeeStore = useEmployeeStore();
const confirmDlg = ref();
onMounted(async () => {
  await employeeStore.GetEmployee();
})
const deleteEmployee = async (id: number) => {
  try {
    await confirmDlg.value.openDialog("Please Confirm", `คุณต้องการลบ Emplyee นี้หรือไม่`);
    await employeeStore.deleteEmployee(id)
  } catch (e) { /* empty */ }
}
</script>

<template>
  <LoadingDialog></LoadingDialog>
  <MessageDialog></MessageDialog>
  <EmployeeDialog></EmployeeDialog>

  <v-row width="100%" style="padding-top: 20px; padding-left: 40px; padding-right: 27px;">
    <v-card height="140" width="100%" class="rounded-t-xl" color="#120a04">
      <v-row style="padding-top: 25px; padding-right: 40px; padding-left: 40px;">
        <v-icon icon="mdi-account-multiple" size="40px" color="white" style="padding-top: 5px;"></v-icon>
        <h1 style="color: white; font-size: 32px; padding-left: 5px;" class="text-font">จัดการพนักงาน</h1>
        <v-divider class="border-opacity-100" style="color: white;"></v-divider>
      </v-row>
      <v-row cols="12" class="justify-end">
        <v-col cols="7"></v-col>
        <v-col cols="4" class="justify-end">
        </v-col>
        <v-col>
          <v-btn color="brown" rounded="lg" class="justify-center"
            @click.stop="employeeStore.dialog = !employeeStore.dialog">
            <v-icon icon="mdi-plus-circle"></v-icon>
            <v-icon icon="mdi-account-multiple"></v-icon>
          </v-btn>
        </v-col>
      </v-row>
    </v-card>
  </v-row>



  <v-row width="100%" style="padding-top: 10px; padding-left: 40px; padding-right: 27px;">
    <v-card height="68vh" width="100%" color="#dedad7" rounded="lg" class="text-font2">
      <v-row style="padding-top: 20px; padding-left: 20px; padding-right: 20px;" class="justify-center">
        <v-card width="100%">
          <v-table style="border-radius: 15px;" height="65vh" class="overflow-y-auto">
            <thead>
              <tr>
                <th>Name</th>
                <th>Tel</th>
                <th>Email</th>
                <th>Position</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="item of employeeStore.showEmployee" :key="item.id">
                <td>{{ item.name }}</td>
                <td>{{ item.tel }}</td>
                <td>{{ item.email }}</td>
                <td>{{ item.position }}</td>
                <td>
                  <v-btn color="#01579B" class="mr-5" variant="tonal" @click="employeeStore.editEmployee(item)"
                    prepend-icon="mdi-pencil">Edit</v-btn>
                  <v-btn color="#C62828" variant="tonal" @click="deleteEmployee(item.id!)"
                    prepend-icon="mdi-delete">Delete</v-btn>
                </td>
              </tr>
            </tbody>
          </v-table>
        </v-card>

      </v-row>
    </v-card>
  </v-row>





  <ConfirmDialog ref="confirmDlg"></ConfirmDialog>
</template>

<style scoped>
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@500&display=swap');

.text-color {
  color: white !important;
}

.text-font {
  font-family: 'Noto Sans Thai', sans-serif;
}

.text-font2 {
  font-family: 'Noto Sans Thai', sans-serif;
}
</style>