<script setup lang="ts">

import product from "@/services/product";
import { useCategoryStore } from "@/stores/category";
import { useOrderStore } from "@/stores/Order";
import { useProductStore } from "@/stores/Product";
import { useUserStore } from "@/stores/User";
import { computed, onMounted, ref } from "vue";
import POSPayDialog from "./Dialog/POSPayDialog.vue";
import LoadingDialog from './Dialog/LoadingDialog.vue';
import PrintBillDialog from "./Dialog/PrintBillDialog.vue";
const tab = ref(1);
const ProductStore = useProductStore();
const OrderStore = useOrderStore();
const value = ref(0);
const UserStore = useUserStore();
const httpImg = (import.meta.env.VITE_BACKEND_URL);
const CategoryStore = useCategoryStore();
onMounted(async () => {
  await ProductStore.GetProductsByCategory(tab.value);
  await UserStore.GetUser();
  await CategoryStore.Getcategories();

});
</script>

<template>
  <LoadingDialog></LoadingDialog>
  <v-container>
    <v-row cols="12">
      <!-- menu -->
      <v-col cols="12">
        <v-card width="100%" class="text-font">

          <v-tabs v-model="tab" color="brown-darken-4" align-tabs="center" fixed-tabs>
            <!-- Tap menu -->
            <v-tab v-for="item of CategoryStore.categories" :key="item.id" :value="item.id" class="font-weight-black"
              @Click="ProductStore.GetProductsByCategory(item.id)"><v-icon v-if="item.id == 1">mdi-coffee</v-icon>
              <v-icon v-if="item.id == 2">mdi-food-croissant</v-icon>
              <v-icon v-if="item.id == 3">mdi-hamburger</v-icon>{{ item.name }}</v-tab>
          </v-tabs>
          <!-- card menu Body -->
          <v-card height="81vh" class="overflow-y-auto">
            <!-- catagory menu -->
            <v-window v-model="tab">
              <v-window-item v-for="item of CategoryStore.categories" :key="item.id" :value="item.id">
                <v-container fluid>
                  <v-row>
                    <v-col v-for="item in ProductStore.ProductsByCate" :key="item.id" cols="3">
                      <!-- on-hover card -->
                      <v-hover v-slot="{ isHovering, props }">
                        <v-card :elevation="isHovering ? 16 : 2" v-bind="props" :class="{ 'on-hover': isHovering }"
                          class="text-center mx-auto" width="200px" v-ripple color="brown-lighten-5" rounded="xl"
                          @Click="OrderStore.addOrderItem(item)">
                          <!-- img menu -->
                          <v-container>
                            <v-img height="180px" class="rounded-xl" :src="`${httpImg}/products/image/${item.image}`"
                              cover
                              lazy-src="https://i.pinimg.com/originals/a5/7b/f9/a57bf940269ffbf167f8b0c5fd50315c.gif"></v-img>
                          </v-container>
                          <!-- deteil menu -->
                          <v-container class="pt-0">
                            <p class="font-weight-bold">
                              {{ item.name }}
                            </p>
                            <p class="font-weight-medium">
                              Price : {{ item.price }} Bath
                            </p>

                          </v-container>
                        </v-card>
                      </v-hover>
                    </v-col>
                  </v-row>
                </v-container>
              </v-window-item>
            </v-window></v-card>
        </v-card>
      </v-col>
      <!-- Order -->
      <v-col cols="2">
        <!-- Order -->
        <v-navigation-drawer location="right" width="470" class="text-font2">
          <!-- Header -->

          <v-card-text class="textHead">รายการสินค้า</v-card-text>
          <v-divider></v-divider>
          <!-- OrderBody -->
          <v-row style="padding-top: 11px;" class="justify-center">
            <v-card height="30vh" class="overflow-y-auto ml-1 mr-2" variant="text">
              <v-row class="mx-auto">
                <!-- Oder deteil -->

                <tbody class="mx-auto mt-3">
                  <v-slide-x-reverse-transition tag="tr" group leave-absolute>
                    <tr v-for="item in OrderStore.Bill" :key="item.productId">

                      <!-- show img -->
                      <td class="border-bt">
                        <v-img height="100" width="100" class="mb-3 rounded-xl mt-2 "
                          :src="`${httpImg}/products/${item.productId}/image`" cover></v-img>
                      </td>
                      <!-- show product name and Price 1 per -->
                      <td class="border-bt">
                        <v-card variant="text" class="ml-1 mt-1 " max-width="100" width="100">
                          <p>{{ item.product?.name }}</p>
                          <v-card-subtitle class="pa-0">Price : {{ item.product?.price }}
                          </v-card-subtitle>
                        </v-card>
                      </td>
                      <!-- show unit -->
                      <td class="border-bt">
                        <v-chip :closable="false">จำนวน {{ item.amount }} ชิ้น</v-chip>
                      </td>
                      <!-- buttom plus(+) and button minus(-) -->
                      <td class="border-bt">
                <tbody>
                  <tr>
                    <v-btn icon="mdi-plus-circle" variant="text" size="20px" color="#4CAF50"
                      @Click="OrderStore.addOrderItem(item.product!)" style="padding-left: 8px;"></v-btn>
                  </tr>
                  <tr>
                    <v-btn icon="mdi-minus-circle" variant="text" size="20px" color="#B71C1C"
                      @Click="OrderStore.RemoveOrderItem(item)" style="padding-left: 8px;"></v-btn>
                  </tr>
                </tbody>
                </td>
                <!-- show total one product -->
                <td class="border-bt" style="padding-left: 10px;">
                  <v-chip :closable="false">
                    รวม {{ item.total }} ฿
                  </v-chip>
                </td>
                <!-- delete button  -->
                <td class="border-bt">
                  <v-btn icon="mdi-delete-circle" class="ml-2" variant="text" size="30px" color="#455A64"
                    @Click="OrderStore.btnRemoveOrderItem(item)"></v-btn>
                </td>

                </tr>
                </v-slide-x-reverse-transition>
                </tbody>
              </v-row>
            </v-card>
          </v-row>

          <!--bill deteil -->
          <v-container class="ml-3">
            <v-row justify="end" style="padding-top: 20px;"><v-col class="pa-0 mb-1"><v-chip
                  class="font-weight-bold">รวม</v-chip></v-col><v-col cols="4" class="pa-0 text-right mr-5"><v-chip
                  class="font-weight-bold">{{ OrderStore.total.toFixed(2) }} ฿</v-chip></v-col></v-row>
            <v-row justify="end" style="padding-top: 5px;"><v-col class="pa-0 mb-1"><v-chip
                  class="text-medium-emphasis">ส่วนลดสมาชิก</v-chip></v-col><v-col cols="4"
                class="pa-0 text-right mr-5"><v-chip class="text-medium-emphasis">0 ฿</v-chip></v-col></v-row>
            <v-row justify="end" style="padding-top: 5px;"><v-col class="pa-0 mb-1  text-medium-emphasis"><v-chip
                  class="text-medium-emphasis">ภาษี 7%</v-chip></v-col><v-col cols="4"
                class="pa-0 mb-1 text-right mr-5 "><v-chip class="text-medium-emphasis">{{ (OrderStore.total *
                  (7 / 100)).toFixed(2) }} ฿</v-chip></v-col></v-row>
            <v-row style="padding-right: 30px; padding-top: 5px;"><v-divider
                class="border-opacity-40"></v-divider></v-row>
            <v-row justify="end" style="padding-top: 10px;"><v-col class="pa-0 mb-1"><v-chip
                  class="text-medium-emphasis">จำนวนเงินที่รับมา</v-chip></v-col><v-col cols="4"
                class="pa-0 text-right mr-5"><v-chip class="text-medium-emphasis">0 ฿</v-chip></v-col></v-row>
            <v-row justify="end" style="padding-top: 5px;"><v-col class="pa-0"><v-chip
                  class="font-weight-bold">เงินทอน</v-chip></v-col><v-col cols="4" class="pa-0 text-right mr-5"><v-chip
                  class="font-weight-bold">0 ฿</v-chip></v-col></v-row>
            <!-- payment method -->
          </v-container>
          <v-row style="padding-top: 20px; padding-left: 20px;">
            <v-chip class="mb-1 ml-1" variant="elevated" color="brown-darken-4" size="large">วิธีการชำระเงิน</v-chip>
          </v-row>
          <v-row style="padding-top: 5px;">
            <v-layout class="overflow-visible" style="height: 56px;">
              <v-bottom-navigation v-model="OrderStore.payment" bg-color="brown-darken-4" mode="shift" grow color="white">
                <v-btn value="Cash">
                  <v-icon icon="mdi-cash-multiple" size="40px"></v-icon>

                  <span>Cash</span>
                </v-btn>

                <v-btn value="Credit Card">
                  <v-icon icon="mdi-credit-card" size="40px"></v-icon>

                  <span>Credit Card</span>
                </v-btn>
                <v-btn value="QRcode">
                  <v-icon icon="mdi-qrcode" size="40px"></v-icon>

                  <span>QRcode</span>
                </v-btn>
              </v-bottom-navigation>
            </v-layout>
          </v-row>

          <v-row>
            <v-btn color="brown-darken-4 mt-3" height="50" width="100%" @Click="OrderStore.dialog = true">Print
              Bill</v-btn>
          </v-row>
          <PrintBillDialog></PrintBillDialog>
          <POSPayDialog></POSPayDialog>
        </v-navigation-drawer>
      </v-col>
    </v-row>
  </v-container>
</template>
<style scoped>
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@500&display=swap');

.border-bt {
  border-bottom: 2px solid rgb(222, 210, 207);


}

.border-bt-line {
  border-bottom: 2px dashed rgb(0, 0, 0);
}

.textHead {
  font-size: 20px;
  font-style: inherit;
}

.text-font {
  font-family: 'Noto Sans Thai', sans-serif;
}

.text-font2 {
  font-family: 'Noto Sans Thai', sans-serif;
}
</style>
