<script lang="ts" setup>
import { useProductStore } from '@/stores/Product';
import { useUploadImgStore } from '@/stores/UploadImg';
import { onMounted, ref } from 'vue';
import LoadingDialog from './Dialog/LoadingDialog.vue';
import ProductDialog from './Dialog/ProductDialog.vue';
import UploadImg from "./Dialog/UploadImgDialog.vue";
import ConfirmDialog from '@/components/ConfirmDialog.vue';

const httpImg = (import.meta.env.VITE_BACKEND_URL)
const Upload = useUploadImgStore()
const ProductStore = useProductStore();
const confirmDlg = ref();

onMounted(async () => {
  await ProductStore.GetProducts();
});

const deleteProduct = async (id: number) => {
  try {
    await confirmDlg.value.openDialog("Please Confirm", `คุณต้องการลบ Product ${id} หรือไม่`);
    ProductStore.deleteProduct(id);
  } catch (e) { /* empty */ }
}

</script>
 
<template >
  <LoadingDialog></LoadingDialog>
  <ProductDialog></ProductDialog>
  <v-row style="padding-top: 20px; padding-left: 30px; padding-right: 30px;">
    <v-card height="140" width="100%" class="rounded-t-xl" color="#120a04">
      <v-row style="padding-top: 25px; padding-right: 40px; padding-left: 40px;">
        <v-icon icon="mdi-coffee" size="40px" color="white" style="padding-top: 5px;"></v-icon>
        <h1 style="color: white; font-size: 32px; padding-left: 5px;" class="text-font">จัดการคลังสินค้า</h1>
        <v-divider class="border-opacity-100" style="color: white;"></v-divider>
      </v-row>
      <v-row>
        <v-col cols="7"></v-col>
        <v-col cols="4">
          <v-text-field label="กรอกชื่อสินค้าเพื่อค้นหา" placeholder="กรอกชื่อสินค้าเพื่อค้นหา" prepend-inner-icon="mdi-magnify"
            v-model="ProductStore.search" class="text-color text-font2"></v-text-field>
        </v-col>
        <v-col>
          <v-btn color="brown" rounded="lg" class="" @click.stop="ProductStore.dialog = !ProductStore.dialog">
            <v-icon icon="mdi-plus-circle" class="mr-1"></v-icon>
            <v-icon icon="mdi-food"></v-icon>
          </v-btn>
        </v-col>
      </v-row>
    </v-card>
    <UploadImg></UploadImg>
  </v-row>

  <v-row width="100%" style="padding-top: 10px; padding-left: 30px; padding-right: 30px;">
    <v-card height="68vh" width="100%" color="#dedad7" rounded="lg" style="padding-top: 10px; padding-left: 10px; padding-right: 10px;" class="overflow-y-auto text-font2">
      <v-row>
        <v-col cols="3" v-for="item of ProductStore.showProduct" :key="item.id">
          <v-card rounded="lg">
            <v-card-item>
              <v-card-title>
                {{ item.name }}
              </v-card-title>
              <v-hover v-slot="{ isHovering, props }">
                <v-img :src="`${httpImg}/products/image/${item.image}`" height="150px" v-bind="props">
                  <v-expand-transition>
                    <v-btn variant="tonal" v-if="isHovering" style="height: 100%; width: 100%; opacity: 50%;"
                      class="transition-fast-in-fast-out bg-white" @click="Upload.EditImg(item.id!, 'Product')">
                      <v-icon icon="mdi-image-edit-outline"></v-icon>
                    </v-btn>
                  </v-expand-transition>
                </v-img>
              </v-hover>

              <v-divider></v-divider>
            <v-card-subtitle>
              {{ item.type }}, {{ item.size }}
            </v-card-subtitle>

          </v-card-item>
          <v-card-text>
            {{ item.price }} Baht
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="#546685" variant="text" @click="ProductStore.editProduct(item)">
              <v-icon icon="mdi-pencil"></v-icon>
            </v-btn>
            <v-btn color="#853131" variant="text" @click="deleteProduct(item.id!)">
              <v-icon icon="mdi-delete"></v-icon>
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
  </v-card>
</v-row>


<ConfirmDialog ref="confirmDlg"></ConfirmDialog>

<!-- <UploadImg></UploadImg>
  <v-layout class="layout" style="padding-right: 60px; padding-top: 20px;">  
    <v-container>
      <v-card height="100" class="edit-card1"  color="#534340" >
        <v-row style="padding-top: 25px; padding-right: 40px; padding-left: 40px;">
        <v-icon icon="mdi-storefront-outline" size="40px" color="#FFCE45" style="padding-top: 5px;"></v-icon>
        <h1 style="color: white; font-size: 32px; padding-left: 5px;">จัดการคลังสินค้า</h1>
        
        <v-divider class="border-opacity-100" style="color: white;"></v-divider>
      </v-row>
      </v-card>
      
    <v-row>
      <v-col></v-col>
      </v-row>
      <v-container>
        <v-row class="justify-center" style="padding-top: 10px; ">
          <v-card
            width="100%"
            color="#F0ECE3"
            rounded="xl"
            class="pt-4 elevation-4"
            height="79vh"
          >
            <v-container>
              <v-row style="padding-left: 20px; padding-right: 20px;">
                <v-card
                rounded="xl"
                class="mb-6 elevation-2 "
                color="#C1AC95"
                height="50"
                width="100%"
                >
                <v-row>
                  <v-col cols="1" class="mt-2 text-left ml-5"
                    ><v-chip class="font-weight-black" color="brown-darken-4"
                      >ID</v-chip
                    ></v-col
                  >
                   <v-col cols="1" class="text-left mt-2 ml-0 "
                    ><v-chip class="font-weight-black" color="brown-darken-4"
                      >Image</v-chip
                    ></v-col
                  >

                  <v-col class="text-left pl-0 mt-2 ml-14"
                    ><v-chip class="font-weight-black" color="brown-darken-4" 
                      >Name</v-chip
                    ></v-col
                  >
                  
                  <v-col cols="1"  class="mt-2 text-right ml-18"
                    ><v-chip class="font-weight-black" color="brown-darken-4"
                      >Price</v-chip
                    ></v-col
                  >
                  <v-col cols="1" class="mt-2 text-right"
                    ><v-chip class="font-weight-black" color="brown-darken-4"
                      >Amount</v-chip
                    ></v-col
                  >
                  <v-col cols="3" class="mt-2 text-right mr-4"
                    ><v-chip class="font-weight-black" color="brown-darken-4"
                      >Option</v-chip
                    ></v-col
                  >
                  <v-col cols="3" class="d-flex text-left" 
                    ><v-btn variant="plain" icon="mdi-magnify" color="brown-darken-4s"></v-btn
                    ><v-btn variant="plain" icon="mdi-plus" @click="ProductStore.dialog = true
          " color="brown-darken-4"></v-btn
                  ></v-col> 
                  </v-row
              ></v-card>
              </v-row>


              <v-container class="h-screen  overflow-y-auto pa-2 pt-0 pb-0">
                <v-card
                  rounded="xl"
                  v-for="item of ProductStore.Products"
                  :key="item.id"
                  class="mb-3 elevation-2"
                  color="grey-lighten-4"
                  height="80"
                >
                  <v-row class="pl-0 pr-0 ml-0 mr-0">
                    <v-col cols="1" class="text-left"
                      > <v-chip class="mt-6 ml-4" color="indigo-darken-4"
                        >{{ item.id }}</v-chip
                      >
                    </v-col>
                    <v-col cols="1" class="">
                      <v-hover v-slot="{ isHovering,props}">
                        
                    <v-img class="mt-2 ml-3 elevation-2"
                    v-bind="props"
                    :src="`${httpImg}/products/image/${item.image}`" height="60px" width="60px">
                    <v-expand-transition>
                        <v-btn
                          v-if="isHovering"
                          class=" transition-fast-in-fast-out bg-white "
                          style="height: 100%; opacity: 50%;"
                          @Click="Upload.EditImg(item.id!,'Product')"
                        >Edit
                        
                        </v-btn>
                      </v-expand-transition>
                  </v-img>
                
                </v-hover>
                    </v-col>

                    <v-col cols="2" class="text-left"
                      ><v-chip class="mt-6 ml-14" color="indigo-darken-4"
                        >{{ item.name }}</v-chip
                      ></v-col
                    >
                    <v-col cols="1" class="text-right"
                      ><v-chip
                        class="mt-6 mr-10"
                        color="indigo-darken-4"
                        >{{ item.price}}</v-chip
                      ></v-col
                    >
                    <v-col cols="1" class="text-left"
                      ><v-chip
                        class="mt-6 ml-6"
                        color="indigo-darken-4"
                        >{{ item.amount}}</v-chip
                      ></v-col
                    >
                    <v-col cols="3" class="text-right mr-0 pr-0"
                      ><v-btn
                          color="#01579B"
                          class="mt-5"
                                    variant="tonal"
                                    width="95"
                                    @click="ProductStore.editProduct(item)"
                                    >Edit</v-btn
                                  ></v-col
                                >
                                <v-col cols="2" class="text-left"
                                  ><v-btn
                                    variant="tonal"
                                                    width="95"
                                                    class="mt-5"
                                                    color="#C62828"
                                                    @click="ProductStore.deleteProduct(item.id!)"
                                                  >
                                                    delete</v-btn
                                                  ></v-col
                                                >
                                              </v-row>
                                            </v-card>
                                          </v-container>
                                        </v-container>
                                      </v-card>
                                    </v-row>
                                  </v-container>
                                </v-container>
                              </v-container>
                            </v-layout> -->
</template>

<style scoped>
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@500&display=swap');
.layout {
  width: 100vw;
  background-color: #F5EFE6;
}

.edit-card1 {
  border-radius: 15px 15px 15px 15px
}

.text-color {
  color: white !important;
}

.text-font{
  font-family: 'Noto Sans Thai', sans-serif;
}

.text-font2{
  font-family: 'Noto Sans Thai', sans-serif;
}
</style>