<script setup lang="ts">
import { onMounted, ref } from 'vue';
import { useStoreStore } from '@/stores/store';
import StoreDialog from './Dialog/StoreDialog.vue';
import ConfirmDialog from '@/components/ConfirmDialog.vue';
import LoadingDialog from './Dialog/LoadingDialog.vue';

const useStore = useStoreStore()
const confirmDlg = ref();
onMounted(async () => {
  await useStore.getStore();
})
const deleteStore = async (id: number) => {
  try {
    await confirmDlg.value.openDialog("Please Confirm", `คุณต้องการลบสาขานี้หรือไม่`);
    await useStore.deleteStore(id)
  } catch (e) { /* empty */ }
}
</script>

<template>
  <LoadingDialog></LoadingDialog>
  <StoreDialog></StoreDialog>
  <v-row width="100%" style="padding-top: 20px; padding-left: 40px; padding-right: 27px;">
    <v-card height="140" width="100%" class="rounded-t-xl" color="#120a04">
      <v-row style="padding-top: 25px; padding-right: 40px; padding-left: 40px;">
        <v-icon icon="mdi-store" size="40px" color="white" style="padding-top: 5px;"></v-icon>
        <h1 style="color: white; font-size: 32px; padding-left: 5px;" class="text-font">จัดการร้านสาขา</h1>
        <v-divider class="border-opacity-100" style="color: white;"></v-divider>
      </v-row>
      <v-row cols="12" class="justify-end">
        <v-col cols="7"></v-col>
        <v-col cols="4" class="justify-end">
          <v-text-field label="search" placeholder="กรอกเบอร์โทรเพื่อค้นหา" prepend-inner-icon="mdi-magnify"
            v-model="useStore.search" class="text-color text-font2"></v-text-field>
        </v-col>
        <v-col>
          <v-btn color="brown" rounded="lg" class="justify-center" @click.stop="useStore.dialog = !useStore.dialog"
            icon="mdi-store-plus">
          </v-btn>
        </v-col>
      </v-row>
    </v-card>
  </v-row>

  <v-row width="100%" style="padding-top: 10px; padding-left: 40px; padding-right: 27px;">
    <v-card height="68vh" width="100%" color="#dedad7" rounded="lg"
      style="padding-top: 10px; padding-left: 10px; padding-right: 10px;" class="overflow-y-auto text-font2">
      <v-row>
        <v-col cols="4" v-for="item of useStore.showStoreByTel" :key="item.id">
          <v-card height="100%" rounded="lg">
            <v-card-title>
              {{ item.name }}
            </v-card-title>
            <v-card-subtitle>
              tel: {{ item.tel }}
            </v-card-subtitle>
            <v-card-text>
              {{ item.address }}
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="#546685" variant="text" @click="useStore.editStore(item)">
                <v-icon icon="mdi-pencil"></v-icon>
              </v-btn>
              <v-btn color="#853131" variant="text" @click="deleteStore(item.id!)">
                <v-icon icon="mdi-delete"></v-icon>
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-col>
      </v-row>
    </v-card>
  </v-row>
  <ConfirmDialog ref="confirmDlg"></ConfirmDialog>
</template>

<style scoped>
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@500&display=swap');
.text-color {
  color: white !important;
}

.text-font{
  font-family: 'Noto Sans Thai', sans-serif;
}

.text-font2{
  font-family: 'Noto Sans Thai', sans-serif;
}

</style>