<script setup lang="ts">
import ChartBarComponentBarDay from '@/components/chart/ChartBarComponentBarDay.vue.js';
import ChartBarComponentBarWeek from '@/components/chart/ChartBarComponentBarWeek.vue.js';
import ChartBarComponentYear from '@/components/chart/ChartBarComponentYear.vue.js';
</script>
<template>
    <v-row>
        <v-col>
            <ChartBarComponentBarDay></ChartBarComponentBarDay>
        </v-col>
        <v-col>
            <ChartBarComponentBarWeek></ChartBarComponentBarWeek>
        </v-col>
        <v-col>
            <ChartBarComponentYear></ChartBarComponentYear>
        </v-col>
    </v-row>
</template>